@font-face {
    font-family: "Baskervville SC";
    src: url("../fonts/BaskervvilleSC-Regular.ttf");
}
@font-face {
    font-family: 'Cinzel';
    src: url("../fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Benne";
    src: url("../fonts/Benne-Regular.ttf");
}
@font-face {
    font-family: "Besley";
    src: url("../fonts/Besley-Regular.ttf");
}
@font-face {
    font-family: "Bungee Hairline";
    src: url("../fonts/BungeeHairline-Regular.ttf");
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-in-left{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slide-in-right{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slide-in-down{
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes scale {
    from{
        scale: 0%;
    }
    to{
        scale: 100%;
    }
}
h2{
    animation: appear 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
p{
    animation: appear 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
img{
    animation: appear 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}


body{
    background-color: black;
    animation: appear 1.5s linear;
}

#background_video{
    position:fixed;
    z-index:-1;
    width:100%;
    opacity:0.5;
}

.top_banner_container{
    position: fixed;
    width: auto;
    display: flex;
    justify-content: flex-start;
    z-index:1;
}

.top_banner_text{
    margin-left:40px;
    text-align: center;
    font-family: "Baskervville SC";
    font-size: 20px;
    letter-spacing: 3px;
    color:white;
    text-decoration: none;
    position:fixed;
    z-index:1;
}

.bloodborne_logo{
    display:flex;
    justify-content: center;
    align-items: center;

}

#bloodborne_logo{
    width:800px;
    margin-top: -50px;
}

.top_page_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top:-200px;
}

.top_page_text{
    width:800px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 32px;
    text-align: center;

    color: #A4A0A0;

    text-shadow: 0px 4px 35px #2E00F9;
    margin-right: 300px;

}

#middle_page_mtext{
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 96px;
    /* identical to box height */
    text-align: center;

    color: #838383;

    text-shadow: 0px 4px 59.6px #1100FF;
}

#middle_page_text{
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;

    color: #838383;

    text-shadow: 0px 4px 59.6px #1100FF;
    width:900px;
}

.middle_page_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weapon{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity:0.3;
    transition: 0.5s ease-out;
    animation: slide-in-down 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.weapon:hover{
    opacity:1;
    transform: scale(110%);
}

.weapon_mtext{
    font-family: 'Baskervville SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    text-align: center;

    color: #FFFFFF;
    text-shadow: 0px 4px 35px #2E00F9;
}

.weapon_text{
    font-family: 'Baskervville SC';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    width:400px;
    z-index:1;
    text-shadow: 0px 4px 35px #2E00F9;
}

.mtext{
    font-family: 'Baskervville SC';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 29.4px #0900FF;
}

.two_weapons{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -200px;
    flex-wrap:wrap;
    z-index:1;
}
.two_weapons_bottom{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    z-index:1;
}

.background_image0{
    margin-top:-2000px;
    text-align:center;
    z-index: -1;
}

.text{
    font-family: 'Baskervville SC';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    width:400px;
    z-index:1;
    text-align:center;

    text-shadow: 0px 4px 35px #2E00F9;
}

.bloodgems_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.two_bloodgems{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    z-index:1;
}

.boss{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity:0.3;
    transition:0.5s ease-out;
}

.boss:hover{
    opacity:1;
    transform: scale(110%);
}

.bosses{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.boss_text{
    font-family: 'Baskervville SC';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width:400px;

    text-shadow: 0px 4px 35px #2E00F9;
}

#lost_tarnished{
    font-family: 'Bungee Hairline';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;

    text-align: center;
    letter-spacing: 0.05em;

    color: #928E8E;

    opacity: 0.65;
    text-shadow: 0px 4px 24.1px #000000;
    margin:0px;
}

.bottom_banner{
    border-top: 1px solid white;
    margin-top: 100px;
}

.social{
    margin-top:-100px;
}
